.navbar-brand{height: 3.2rem;
    display: block;
    width: 9rem;}
.navbar-nav .nav-link.active, .navbar-nav .nav-link.show{
    color:#ffba22 !important;
}
.nav-link:hover{ color:#ffba22 !important;}
.footer-bottom{border-top:1px solid #dee2e624;}
.footer{background-image: url('../../assets/img/footer-bg.jpg');background-repeat: no-repeat;background-size: 100%;background-position: center;}