<div class="bg-outer h-100vh">
  <div class="h-100vh o-auto bg-overlay">
    <div class="h-100  container py-5">
      <div class="row d-flex align-items-center justify-content-center h-100">
        <div class="col-xl-5 col-lg-5 col-md-10 col-sm-12 col-12">
          <div class="login-bg p-5 mb-5">
            <div class="my-5">
              <form [formGroup]="forgotForm" (ngSubmit)="forgotPassword()">
                <div class="logo mx-auto mb-5">
                  <img class="h-100 w-100" src="../../../../assets/img/logo.png">
                </div>
                <div class="mb-3 position-relative">
                  <input type="email" class="form-control fonts-16" id="exampleFormControlInput1"
                    placeholder="Username" formControlName="username">
                  <span class="icon-fill">
                    <svg height="24" width="24" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
                      <title>account</title>
                      <path
                        d="M12,4A4,4 0 0,1 16,8A4,4 0 0,1 12,12A4,4 0 0,1 8,8A4,4 0 0,1 12,4M12,14C16.42,14 20,15.79 20,18V20H4V18C4,15.79 7.58,14 12,14Z" />
                    </svg>
                  </span>
                  <p class="fonts-16 txt-red" *ngIf="
                  forgotForm.controls.username?.touched &&
                  forgotForm.controls.username?.errors?.['required']">Please enter username</p>
                </div>
                <div class="d-flex align-items-center my-3 pt-2">
                  <button type="submit"
                    class="d-flex align-items-center rounded-pill w-100 btn btn-bg fonts-18 border-0 bg-purple py-2 lh-2 me-2 mb-2">
                    <span class="w-100 d-flex justify-content-center fonts-18 bold"> Forgot
                      Password </span>
                  </button>
                </div>
                <p class="fonts-14 text-white text-center">This site is protected by re CAPTCHA and the Google <a
                    class="c-blue text-decoration-none semibold" href="#" target="_blank">Privacy
                    Policy</a> and <a class="c-blue text-decoration-none semibold" href="#" target="_blank">Terms of
                    Service</a> apply.</p>
                <p class="fonts-14 text-white text-center" style="cursor: pointer;" routerLink="/login">Back To Login
                </p>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
