.icon-fill{position: absolute;right: 0.6rem;top: 0.7rem;}
.logo{height: 5rem;width: 14rem;
    img{object-fit: contain;}
        }
.bg-outer{background: url(../../../../assets/img/bg-login.jpg);    background-repeat: no-repeat;background-size: auto;background-blend-mode: darken;overflow: auto;}
.bg-overlay{background-color: #001244ad;}
.login-bg{background: rgb(11 24 53 / 47%);border: 2px solid rgba(255, 255, 255, 0.17);backdrop-filter: blur(15px);margin: 0 auto;padding: 100px 60px;border-radius: 25px;
}
