.image-outer{    height: 11rem;
    width: 16rem;
    position: relative;
    // margin-top: -6.6rem;
}
.win_color{
    height:45px;width:75px;
    // background-color: aliceblue;
}
.image-over-outer{
    height: 11rem;
    width: 14rem;
    position: relative;
    // margin-top: -6.6rem;
}
.btn-circle{height: 3rem;width:3rem;
    // background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    }
  