<div class="main-bg">
    <div class="container h-100 py-5">
        <div class="row h-100 py-5">
            <div class="col-12 d-flex align-items-center justify-content-center flex-column h-100">
                    <h1 class="fonts-64 text-center txt-white bold" style="letter-spacing: 4px;">PLAY ONLINE<span class="txt-primary"> GAME </span> <br>
                    <span>&</span>  WIN<span class="txt-primary"> MONEY</span></h1>
                    <p class="fonts-18 w-75 text-center txt-white mx-auto px-5 my-3">The answer is simple: it's skill. Therefore, poker has to be classed as a game of skill overall, as it's skill, and not luck, that leads to player.</p>
                    <div class="d-xl-flex d-lg-flex d-md-flex d-sm-block d-block align-items-center justify-content-center">
                        <button type="button"
                            class="d-flex align-items-center rounded-pill w-100 btn btn-bg fonts-18 border-0 w-min-btn bg-purple py-3 lh-2 me-2 mb-2">
                            <span class="w-100 d-flex justify-content-center fonts-18 bold"> Play Now </span>
                        </button>
                        <button type="button"
                            class="w-100 btn btn-bg rounded-pill border-0 bg-purple w-min-btn fonts-18 bold py-3 lh-2 mb-2"
                            routerLink="/register">Registration
                        </button>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="game-section py-5">
    <div class="container py-5">
        <div class="row">
            <div class="text-center">
                <h2 class="fonts-64 text-center txt-white bold mb-3">Top Awesome <br>
                    <span class="txt-primary"> Games </span></h2>
                <p class="fonts-18 text-center text-white w-75 mx-auto mb-5">I wish is a facility for certain types of gambling. Casinos are often built combined with hotels, resorts.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
                <div class="h-100 w-100 card p-4 pb-5">
                    <div class="card-outer"></div>
                    <div class="text-white text-center" style="z-index: 1;">
                        <div class="game-image-outer rounded mb-4">
                            <img class="h-100 w-100 rounded" src="../../../../assets/img/color.png" alt="">
                        </div>
                        <h2 class="fonts-30 semibold mb-4 pt-2">Color Predection</h2>
                        <!-- <p class="fonts-16 mb-2">GAME INVESTMENT</p> -->
                        <p class="fonts-16 mb-4">Rs.50  - Maximum no limit</p>

                        <button type="button"
                            class="w-100 btn btn-bg border-0 bg-purple w-auto fonts-18 bold py-2 lh-2 mb-2 px-5"
                            routerLink="/game/color-prediction">Play Now
                        </button>
                    </div>
                    <div class="ball"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
                <div class="h-100 w-100 card p-4 pb-5">
                    <div class="card-outer"></div>
                    <div class="game-image-outer rounded mb-4">
                        <img class="h-100 w-100 rounded" src="../../../../assets/img/vector-snooker-balls-background.jpg" alt="">
                    </div>
                    <div class="text-white text-center" style="z-index: 1;">
                        <h2 class="fonts-30 semibold mb-4 pt-2">Number Predection</h2>
                        <!-- <p class="fonts-16 mb-2">GAME INVESTMENT</p> -->
                        <p class="fonts-16 mb-4">Rs.50 - Maximum no limit</p>

                        <button type="button"
                            class="w-100 btn btn-bg border-0 bg-purple w-auto  fonts-18 bold py-2 lh-2 mb-2 px-5"
                            routerLink="/game/number-prediction">Play Now
                        </button>
                    </div>
                    <div class="ball"></div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 my-3">
                <div class="h-100 w-100 card p-4 pb-5">
                    <div class="card-outer"></div>
                    <div class="game-image-outer rounded mb-4">
                        <img class="h-100 w-100 rounded" src="../../../../assets/img/6_generated.jpg" alt="">
                    </div>
                    <div class="text-white text-center" style="z-index: 1;">
                        <h2 class="fonts-30 semibold mb-4 pt-2">Andar/Bahar Game</h2>
                        <!-- <p class="fonts-16 mb-2">GAME INVESTMENT</p> -->
                        <p class="fonts-16 mb-4">Rs.50 - Maximum no limit</p>

                        <button type="button"
                            class="w-100 btn btn-bg border-0 bg-purple  fonts-18 bold py-2 lh-2 mb-2 w-auto px-5"
                            routerLink="/register">Coming Soon
                        </button>
                    </div>
                    <div class="ball"></div>
                </div>
            </div>
        </div>
    </div>
</div>
