.back-login :hover { color: "blue";}
.icon-fill{position: absolute;right: 0.6rem;top: 0.7rem;}
.logo{height: 5rem;width: 14rem;
    img{object-fit: contain;}
        }
.bg-outer{background: url(../../../../assets/img/bg-login.jpg);    background-repeat: no-repeat;background-size:cover;background-blend-mode: darken;overflow: auto;}
.bg-overlay{background-color: rgba(0, 18, 68, 0.6784313725);
    background-size: 100% 100%;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;}
.login-bg{background: rgb(11 24 53 / 47%);border: 2px solid rgba(255, 255, 255, 0.17);backdrop-filter: blur(15px);margin: 0 auto;padding: 100px 60px;border-radius: 25px;
    // max-height: 95vh; overflow: auto;
}