<div class="color-section pt-1">
  <div class="container py-1">
    <div class="row">
      <div class="col-12 color-bg rounded justify-content-center">
        <div class="row p-2" style="color:white">
          <p>1. After applying for deposit withdrawal request wait upto 10-15 minutes.</p>
          <p>2. The minimum amount to be deposit will be Rs. 100</p>
          <div>
            <p>3. For withdrawal the minimum amount in the wallet has to be Rs. 100
            </p>
            <span>
              Example:- If the balance amount is Rs.200 then you can only withdraw upto Rs.100 to keep the minimum
              balance
              in the account.
            </span>
          </div>
          <br>
          <br>
          <p>4. Users are responsible for providing wrong bank details the company won’t be responsible regarding that
            issue.</p>
          <p>5. Regarding any kind of issue please do contact on our whatsapp number. Customer service is available 24x7
          </p>
          <p>6. The amount widrawal facility is available 24x7</p>
          <p>7. You are playing this game at your own risk and we are not responsible for any kind of further
            circumstances.</p>
        </div>
      </div>
    </div>
  </div>
</div>
